{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Classroom Details
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{classroom.name}} {{classroom.subject}}</h5>
    <p class="card-text" style="color: 000034;">{{classroom.year}}</p>
    <a href="{% url 'student-add' classroom.id %}" class="btn" style="background-color: #00A388; color: #FFF;">Add Student</a>
    <a href="{% url 'classroom-update' classroom.id %}" class="btn" style="background-color: #ffc107; color: white;">Update</a>
    <a href="{% url 'classroom-delete' classroom.id %}" class="btn" style="background-color: #dc3545; color: #FFF;">Delete</a>
  </div>
</div>

<div class="row my-3">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Exam grade</th>
                    <th scope="col">Opreatoins</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                    <th scope="row">{{student.id}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.date_of_birth}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.exam_grade}}</td>
                    <td>
                        <a href="{% url 'student-update' student.id classroom.id %}" class="btn" style="background-color: #74E0D4; color: white;">Update</a>

                        <a href="{% url 'student-delete' student.id classroom.id %}" class="btn" style="background-color: #dc3545; color: #FFF;">Delete</a>
                    </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
